<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Device</title>
	<%- include style.html %>
</head>
<body>
    <%- include nav.html %>
    <%- include homeLeftNav.html %>

	<div class="col-md-9">
		<div class="panel panel-info">
		  	<div class="panel-heading">
		    	<h3 class="panel-title"><%= home %></h3>
		  	</div>
			<div id="deviceToolbar">
                <div class="btn-group" role="group" aria-label="...">
				  	<button type="button" class="btn btn-success">
				  		Import<span class="glyphicon glyphicon-import" aria-hidden="true"></span>
				  	</button>
				  	<button type="button" class="btn btn-info">
				  		Export<span class="glyphicon glyphicon-export" aria-hidden="true"></span>
				  	</button>
				  	<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#deviceAddModel">
				  		Add<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
				  	</button>
				</div>
            </div>
		  	<table id="deviceTable"></table>
		</div>
	</div>

            <div class="modal fade" id="deviceAddModel" tabindex="-1" role="dialog" aria-hidden="true">
                   <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel" style="color: Coral">Add New Device</h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" action="/device/deviceAdd" method="POST">
                                    <div class="form-group">
                                        <label>Device Serial Number</label>
                                        <input type="text" class="form-control" name="device" placeholder="Device serial number" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Device Type</label>
                                        <select class="form-control" name="type">
                                            <option value="router">Router</option>
                                            <option value="baroceptor">Baroceptor</option>
                                            <option value="hygrometer">Hygrometer</option>
                                            <option value="particulator">Particulator</option>
                                            <option value="lighter">Lighter</option>
                                            <option value="lamp">Lamp</option>
                                            <option value="door">Door</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Nickname</label>
                                        <input type="text" class="form-control" name="nickname" placeholder="Nickname" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Remark</label>
                                        <input type="text" class="form-control" name="remark" placeholder="Remark">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-warning">OK</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="modal fade" id="deviceEditModel" tabindex="-1" role="dialog" aria-hidden="true">
                   <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel" style="color: Coral">Edit Device</h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" action="/device/deviceEdit" method="POST">
                                    <div class="form-group">
                                        <label  for="mydevice">Device Serial Number</label>
                                        <input id="mydevice" type="text" class="form-control" name="mydevice" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label  for="newdevice">Device Serial Number</label>
                                        <input id="newdevice" type="text" class="form-control" name="newdevice" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Device Type</label>
                                        <select class="form-control" name="newtype">
                                            <option value="router">Router</option>
                                            <option value="baroceptor">Baroceptor</option>
                                            <option value="hygrometer">Hygrometer</option>
                                            <option value="particulator">Particulator</option>
                                            <option value="lighter">Lighter</option>
                                            <option value="lamp">Lamp</option>
                                            <option value="door">Door</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="newnickname">Nickname</label>
                                        <input id="newnickname" type="text" class="form-control" name="newnickname" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="newremark">Remark</label>
                                        <input type="text" class="form-control" name="newremark">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-warning">OK</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>

	<%- include script.html %>

	<script>
		
		$(document).ready(function(){
            $("#home").addClass("active");
            $("#device").addClass("active");
            
			window.deviceOperateEvents = {
				'click .deviceEdit': function (e, value, row, index) {
	            	                    
                    $("#mydevice").val(row.device);
                    $("#newdevice").val(row.device);
                    $("#newnickname").val(row.nickname);
                    $("#newremark").val(row.remark);
	            },

	            'click .deviceRemove': function (e, value, row, index) {
                    if (confirm('Are you sure to remove?')){
                        $.post('/device/removeDevice',{
                            device: row.device
                            });
                        $('#deviceTable').bootstrapTable('remove', {
                            field: 'device',
                            values: [row.device]
                        });
                    }
	            }
			};

	        $('#deviceTable').bootstrapTable({
				method: "get",//请求方式
                url: "/device/devicesList",//数据源
                striped: true,
                pagination: true,//是否分页
                pageSize: 5,//单页记录数
                pageList: [5, 10, 20, 50],//分页步进值
                queryParamsType: "limit",//查询参数组织方式
                queryParams: function getParams(params) {
                    //params obj
                    params.other = "otherInfo";
                    return params;
                },
                search: true,//是否搜索
                searchOnEnterKey: false,//回车搜索
                searchAlign: "right",//查询框对齐方式                
                showRefresh: true,//刷新按钮
                showColumns: true,//列选择按钮
                buttonsAlign: "right",//按钮对齐方式
                toolbar: "#deviceToolbar",
                toolbarAlign: "left",
                columns: [
                    {
                        field: "device",//键名
                        title: "Device",//标题
                        sortable: true,//是否可排序
                        order: "asc"//默认排序方式
                    },
                    {
                        field: "type",
                        title: "Type",
                        sortable: true,
                    },
                    {
                        field: "nickname",
                        title: "Nickname",
                        sortable: true,
                    },                    
                    {
                        field: "creator",
                        title: "Creator",
                        sortable: true,
                    },
                    {
                        field: "remark",
                        title: "Remark",
                        sortable: true,
                    },
                    {
                        field: "operate",
                        title: "Operate",
                        align: "center",
                        events: deviceOperateEvents,
                        formatter: deviceOperateFormatter
                    }
                ],
            });

        	function deviceOperateFormatter(value, row, index){
	            return [
                    '<a class="deviceEdit col-md-6" href="#" title="Edit" data-toggle="modal" data-target="#deviceEditModel">',
                    '<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>',
                    '</a>',
                    '<a class="deviceRemove col-md-6" href="#" title="Remove">',
                    '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>',
                    '</a>'
	            ].join('');
        	};
		});

		$(document).unload(function(){
		});

	</script>
</body>
</html>