<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title><%= title %></title>
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="libs/bootstrap-3.3.6/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="page-header">
        <h1><%= message %> <small><%= error.status %></small></h1>
        <pre><%= error.stack %></pre>
    </div>

    <script src="libs/jquery-2.2.4/dist/jquery.min.js"></script>
	<script src="libs/bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>
</body>
</html>

