<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>智能网关</title>
	<%- include style.html %>
</head>
<body>
	<%- include nav.html %>
	<%- include gdLeftNav.html %>
	
	<div class="col-md-9">
		<div class="panel panel-warning">
		  	<div class="panel-heading">
                <h3 class="panel-title">智能网关</h3>
		  	</div>
		  	<div id="gatewayToolbar">
                <div class="btn-group" role="group" aria-label="...">
<!-- 				  	<button type="button" class="btn btn-success">
				  		导入<span class="glyphicon glyphicon-import" aria-hidden="true"></span>
				  	</button>
				  	<button type="button" class="btn btn-info">
				  		导出<span class="glyphicon glyphicon-export" aria-hidden="true"></span>
				  	</button> -->
                    <!-- <button type="button" class="btn btn-info"  data-toggle="modal" data-target="#gatewayAddModel">
                        扫码<span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
                    </button> -->
				  	<button type="button" class="btn btn-warning"  data-toggle="modal" data-target="#gatewayAddModel">
				  		新增<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				  	</button>
				</div>
            </div>
		  	<table id="gatewayTable"></table>
		</div>
	</div>

            <div class="modal fade" id="gatewayEditModel" tabindex="-1" role="dialog" aria-hidden="true">
                   <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel" style="color: Coral">修改智能网关</h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" action="/gateway/gatewayEdit" method="POST">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="myMAC">原MAC</label>
                                            <input id="myMAC" type="text" class="form-control" name="myMAC" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="oldMAC">MAC</label>
                                            <input id="oldMAC" type="text" class="form-control" name="newMAC" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="oldIP">IP</label>
                                            <input id="oldIP" type="text" class="form-control" name="newIP" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="oldport">port</label>
                                            <input id="oldport" type="text" class="form-control" name="newport" required>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        <button type="submit" class="btn btn-warning">确定</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="modal fade" id="gatewayAddModel" tabindex="-1" role="dialog" aria-hidden="true">
                   <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel" style="color: Coral">新增智能网关</h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" action="/gateway/gatewayAdd" method="POST">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>MAC</label>
                                            <input type="text" class="form-control" name="MAC" placeholder="MAC" required>
                                        </div>
                                        <div class="form-group">
                                            <label>IP</label>
                                            <input type="text" class="form-control" name="IP" placeholder="IP" required>
                                        </div>
                                        <div class="form-group">
                                            <label>port</label>
                                            <input type="text" class="form-control" name="port" placeholder="port" required>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        <button type="submit" class="btn btn-warning">确定</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>

	<%- include script.html %>
	<script>
		
		$(document).ready(function(){

			$("#gd").addClass("active");
			$("#gateway").addClass("active");

			window.gatewayOperateEvents = {

	            'click .gatewayEdit': function (e, value, row, index) {

                    $("#myMAC").val(row.MAC);
                    $("#oldMAC").val(row.MAC);
                    $("#oldIP").val(row.IP);
                    $("#oldport").val(row.port);

                    // $("#homeEditSelect").empty();
                    
                    // $.get('/home/gatewayHomeSelect',function(data, status){
                    //     data.map((item)=>{
                    //         if (item.home == row.home){
                    //             $("#homeEditSelect").append('<option value="' + item.home + '" selected>' + item.home + '</option>');
                    //         }else{
                    //             $("#homeEditSelect").append('<option value="' + item.home + '">' + item.home + '</option>');
                    //         }
                    //     });
                    // });
	            },

	            'click .gatewayRemove': function (e, value, row, index) {
                    if (confirm('确认删除该设备？')){
                        $.post('/gateway/gatewayRemove',{
                            MAC: row.MAC
                            });

    	                $('#gatewayTable').bootstrapTable('remove', {
    	                    field: 'MAC',
    	                    values: [row.MAC]
    	                });
                    }
	            }
	        };

			$('#gatewayTable').bootstrapTable({
				method: "get",//请求方式
                url: "/gateway/gatewayList",//数据源
                striped: true,
                pagination: true,//是否分页
                pageSize: 5,//单页记录数
                pageList: [5, 10, 20, 50],//分页步进值
                queryParamsType: "limit",//查询参数组织方式
                queryParams: function getParams(params) {
                    //params obj
                    params.other = "otherInfo";
                    return params;
                },
                search: true,//是否搜索                
                searchOnEnterKey: false,//回车搜索
                searchAlign: "right",//查询框对齐方式                
                showRefresh: true,//刷新按钮
                showColumns: true,//列选择按钮
                buttonsAlign: "right",//按钮对齐方式
                toolbar: "#gatewayToolbar",
                toolbarAlign: "left",
                columns: [
                    {
                        field: "MAC",//键名
                        title: "MAC",//标题
                        sortable: true,//是否可排序
                        order: "asc"//默认排序方式
                    },
                    {
                        field: "IP",
                        title: "IP",
                        sortable: true,
                    },
                    {
                        field: "port",
                        title: "port",
                        sortable: true,
                    },
                    {
                        field: "state",
                        title: "状态",
                        sortable: true,
                    },                    
                    {
                        field: "creator",
                        title: "创建者",
                        sortable: true,
                    },
                    {
                        field: "operate",
                        title: "操作",
                        align: "center",
                        events: gatewayOperateEvents,
                        formatter: gatewayOperateFormatter
                    }
                ]
            });

            function gatewayOperateFormatter(value, row, index){
	            return [
                '<a class="gatewayEdit col-md-6" href="#" title="Edit" data-toggle="modal" data-target="#gatewayEditModel">',
                '<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>',
                '</a>',
                '<a class="gatewayRemove col-md-6" href="#" title="Remove">',
                '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>',
                '</a>'
	            ].join('');
        	};

		});

		$(document).unload(function(){
		});

	</script>
</body>
</html>