<div class="col-md-3">
	<ul class="nav nav-pills nav-stacked">
    	<li role="presentation" id="gateway"><a href="/gateway"><span class="glyphicon glyphicon-sort" aria-hidden="true">智能网关</span></a></li>
    	<li role="presentation" id="device"><a href="/device"><span class="glyphicon glyphicon-flash" aria-hidden="true">无线设备</span></a></li>
    	<li role="presentation" id="records"><a href="/device/records"><span class="glyphicon glyphicon-info-sign" aria-hidden="true">记录查询</span></a></li>
	</ul>
</div>