<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Home</title>
	<%- include style.html %>
</head>
<body>
<%- include nav.html %>

	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation" id="home_status"><a href="/home/status">Status</a></li>
			<li role="presentation" id="home_device"><a href="/home/device">Device</a></li>
			<li role="presentation" id="home_gateway"><a href="#">Gateway</a></li>
			<li role="presentation" id="home_setting"><a href="#">Setting</a></li>  	
		</ul>
	</div>
	<div class="col-md-9">
		<div class="btn-group btn-group-justified" role="group">
	  		<div class="btn-group" role="group">
	    		<button type="button" class="btn btn-success">Add</button>
	  		</div>
	  		<div class="btn-group" role="group">
	    		<button type="button" class="btn btn-warning">Modify</button>
	  		</div>
	  		<div class="btn-group" role="group">
	    		<button type="button" class="btn btn-danger">Delete</button>
	  		</div>
	  	</div>

		<table id="table"
	       	data-toggle="table"
	       	data-height="400"
	        data-toolbar="#toolbar"
			data-sort-name="home"
			data-sort-order="asc"
			>
				<thead>
		            <tr>
		                <th data-field="home" data-sortable="true">Home</th>
		                <th data-field="location" data-sortable="true">location</th>
		                <th data-field="contact" data-sortable="true">Contact</th>
		                <th data-field="mail" data-sortable="true">Mail</th>
		                <th data-field="tel" data-sortable="true">Tel</th>
		            </tr>
				</thead>
		</table>
	</div>



	<%- include script.html %>
	<script>
		
		$(document).ready(function(){

			$("#myhome").addClass("active");
			$("#home_device").addClass("active");
			$.getJSON('/homesList', function(data){
				console.log(data);
				$("#table").bootstrapTable('load', data);
			});
			// $.get('/home/homesList');
			// var socket = io.connect();
			// socket.emit('get', 'homes');
			// socket.on('homes', (homes)=>{
			// 	console.log(homes);
			// 	// $("#table").bootstrapTable('load', JSON.parse(homes));
			// 	$("#table").bootstrapTable('load', homes);
			// });
			// socket.on('users', (users)=>{});
			// socket.on('gateways', (gateways)=>{});

		});

		$(document).unload(function(){
		});

	</script>
</body>
</html>