<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Home</title>
	<%- include style.html %>
</head>
<body>
	<%- include nav.html %>
	<%- include homeLeftNav.html %>
	
	<div class="col-md-9">
		<div class="panel panel-success">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">Home</h3>
		  	</div>
			<div id="homeToolbar">
                <div class="btn-group" role="group" aria-label="...">
				  	<button type="button" class="btn btn-success">
				  		Import<span class="glyphicon glyphicon-import" aria-hidden="true"></span>
				  	</button>
				  	<button type="button" class="btn btn-info">
				  		Export<span class="glyphicon glyphicon-export" aria-hidden="true"></span>
				  	</button>
				  	<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#homeAddModel">
				  		Add<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
				  	</button>
				</div>
            </div>
		  	<table id="homeTable"></table>

		  	<div class="modal fade" id="homeEditModel" tabindex="-1" role="dialog" aria-hidden="true">
                   <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel" style="color: Coral">Edit Home</h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" action="/home/editHome" method="POST">
                                    <div class="form-group">
                                    	<input type="text" class="form-control" name="newhome" placeholder="New Home">
                                        <input type="text" class="form-control" name="newlocation" placeholder="New Location">
                                        <input type="text" class="form-control" name="newmail" placeholder="Your New mail">
                                        <input type="text" class="form-control" name="newtel" placeholder="Your New tel">
                                    </div>
                                    <div class="modal-footer">
                                		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                		<button type="submit" class="btn btn-warning">OK</button>
                            		</div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>

		  	<div class="modal fade" id="homeAddModel" tabindex="-1" role="dialog" aria-hidden="true">
                   <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel" style="color: Coral">Add New Home</h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" action="/home/addNewHome" method="POST">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="home" placeholder="Home">
                                        <input type="text" class="form-control" name="location" placeholder="Location">
                                        <input type="text" class="form-control" name="mail" placeholder="Your mail">
                                        <input type="text" class="form-control" name="tel" placeholder="Your tel">
                                    </div>
                                    <div class="modal-footer">
                                		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                		<button type="submit" class="btn btn-warning">OK</button>
                            		</div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>

		</div>

	</div>

	<%- include script.html %>
	<script>
		
		$(document).ready(function(){

			$("#home").addClass("active");
			$("#home_home").addClass("active");

			window.homeOperateEvents = {

				'click .homeEdit': function (e, value, row, index) {
	            // 	console.log(value);
	            // 	console.log(row);
	            // 	console.log(index);
	            // alert('You click Edit action, row: ' + JSON.stringify(row));
	            },

	            'click .homeRemove': function (e, value, row, index) {

	            	if (confirm('Are you sure to remove?')){
	            		$.post('/home/removeHome',{
	            			home: row.home
	            		});
	                	$('#homeTable').bootstrapTable('remove', {
		                    field: 'home',
		                    values: [row.home]
	                });
	            	}
	            }
			};

	        $('#homeTable').bootstrapTable({
				method: "get",//请求方式
                url: "/home/table_home_infos",//数据源
                striped: true,
                pagination: true,//是否分页
                pageSize: 5,//单页记录数
                pageList: [5, 10, 20, 50],//分页步进值
                queryParamsType: "limit",//查询参数组织方式
                queryParams: function getParams(params) {
                    //params obj
                    params.other = "otherInfo";
                    return params;
                },
                search: true,//是否搜索
                searchOnEnterKey: false,//回车搜索
                searchAlign: "right",//查询框对齐方式                
                showRefresh: true,//刷新按钮
                showColumns: true,//列选择按钮
                buttonsAlign: "right",//按钮对齐方式
                toolbar: "#homeToolbar",
                toolbarAlign: "left",
                columns: [
                    {
                        field: "home",//键名
                        title: "Home",//标题
                        sortable: true,//是否可排序
                        order: "asc"//默认排序方式
                    },
                    {
                        field: "location",
                        title: "Location",
                        sortable: true,
                    },
                    {
                        field: "contact",
                        title: "Contact",
                        sortable: true,
                    },
                    {
                        field: "mail",
                        title: "Mail",
                        sortable: true,
                    },
                    {
                        field: "tel",
                        title: "Tel",
                        sortable: true,
                    },
                    {
                        field: "operate",
                        title: "Operate",
                        align: "center",
                        events: homeOperateEvents,
                        formatter: homeOperateFormatter
                    }
                ]
            });

        	function homeOperateFormatter(value, row, index){
        		// let homeURL = '/device/' + row.home;
        		// console.log(homeURL);
        		// let homelink = '<a class="home col-md-4" href="' + homeURL + '" title="Home">';
	            return [
	         	'<a class="home col-md-4" href="/device/' + row.home + '" title="Home">',
	            '<span class="glyphicon glyphicon-home" aria-hidden="true"></span>',
	            '</a>',
	            '<a class="homeEdit col-md-4" href="#" title="Edit" data-toggle="modal" data-target="#homeEditModel">',
	            '<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>',
	            '</a>',
	            '<a class="homeRemove col-md-4" href="#" title="Remove">',
	            '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>',
	            '</a>'
	            ].join('');
        	};

					    	// '<button type="button" class="home btn btn-default" title="Home"><span class="glyphicon glyphicon-home col-md-4" aria-hidden="true"></span></button>',
					    	// '<button type="button" class="homeEdit btn btn-default" title="Edit"><span class="glyphicon glyphicon-edit col-md-4" aria-hidden="true"></span></button>',
					    	// '<button type="button" class="homeRemove btn btn-default" title="Remove"><span class="glyphicon glyphicon-remove col-md-4" aria-hidden="true"></span></button>',
	            // '',
	            // '<a class="home col-md-4" href="javascript:void(0)" title="Home">',
	            // '<i class="glyphicon glyphicon-home"></i>',
	            // '</a>',
	            // '<a class="homeEdit col-md-4" href="javascript:void(0)" title="Edit">',
	            // '<i class="glyphicon glyphicon-edit"></i>',
	            // '</a>',
	            // '<a class="homeRemove col-md-4" href="javascript:void(0)" title="Remove">',
	            // '<i class="glyphicon glyphicon-remove"></i>',
	            // '</a>'

			// $('#table').on('click-row.bs.table',function(e,row,$element,field){
			// 	console.log("click row");
			// 	console.log($element);
			// });


			// $.get('/home/homesList');
			// var socket = io.connect();
			// socket.emit('get', 'homes');
			// socket.on('homes', (homes)=>{
			// 	console.log(homes);
			// 	// $("#table").bootstrapTable('load', JSON.parse(homes));
			// 	$("#table").bootstrapTable('load', homes);
			// });
			// socket.on('users', (users)=>{});
			// socket.on('gateways', (gateways)=>{});

		});

		$(document).unload(function(){
		});

	</script>
</body>
</html>