<div class="col-md-3">
	<ul class="nav nav-pills nav-stacked">
    	<li role="presentation" id="status"><a href="/home"><span class="glyphicon glyphicon-star" aria-hidden="true">我的收藏</span></a></li>
    	<li role="presentation" id="zzgy"><a href="/home/zzgy"><span class="glyphicon glyphicon-cloud" aria-hidden="true">自主感应</span></a></li>    	
    	<li role="presentation" id="dgkz"><a href="/home/dgkz"><span class="glyphicon glyphicon-off" aria-hidden="true">灯光控制</span></a></li>
    	<li role="presentation" id="afjk"><a href="/home/afjk"><span class="glyphicon glyphicon-eye-open" aria-hidden="true">安防监控</span></a></li>
    	<li role="presentation" id="ddcl"><a href="/home/ddcl"><span class="glyphicon glyphicon-th-large" aria-hidden="true">电动窗帘</span></a></li>
    	<li role="presentation" id="jtyy"><a href="/home/jtyy"><span class="glyphicon glyphicon-music" aria-hidden="true">家庭影音</span></a></li>
    	<li role="presentation" id="znwk"><a href="/home/znwk"><span class="glyphicon glyphicon-asterisk" aria-hidden="true">智能温控</span></a></li>
<!--     	<li role="presentation" id="gateway"><a href="/gateway"><span class="glyphicon glyphicon-sort" aria-hidden="true">智能网关</span></a></li>
    	<li role="presentation" id="device"><a href="/device"><span class="glyphicon glyphicon-flash" aria-hidden="true">所有设备</span></a></li>
    	<li role="presentation" id="records"><a href="/device/records"><span class="glyphicon glyphicon-info-sign" aria-hidden="true">记录查询</span></a></li> -->
	</ul>
</div>