<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Home</title>
	<%- include style.html %>
</head>
<body>
	<%- include nav.html %>
	<%- include homeLeftNav.html %>
	
	<div class="col-md-9">
		<div class="panel panel-success">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">Home Status</h3>
		  	</div>
			<div id="homeToolbar">
                <div class="btn-group" role="group" aria-label="...">
				  	<button type="button" class="btn btn-success">
				  		Import<span class="glyphicon glyphicon-import" aria-hidden="true"></span>
				  	</button>
				  	<button type="button" class="btn btn-info">
				  		Export<span class="glyphicon glyphicon-export" aria-hidden="true"></span>
				  	</button>
				  	<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#homeAddModel">
				  		Add<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
				  	</button>
				</div>
            </div>
		  	<table id="homeTable"></table>
	</div>

	<%- include script.html %>
	<script>
		
		$(document).ready(function(){

			$("#home").addClass("active");
			$("#status").addClass("active");

		});

		$(document).unload(function(){
		});

	</script>
</body>
</html>