<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Smart Home</title>
	<%- include style.html %>
</head>
<body style="background-image: url(images/library.jpg); background-repeat: no-repeat; background-size: cover;">
<div class="jumbotron" style="background: MistyRose">
  	<h1>Smart Home <small>For Better Life</small> </h1>
  	<div class="input-group" style="float: right;">
  		<form class="navbar-form navbar-left" role="search" action="/login" method="POST">
		  	<div class="form-group">		  		
		    	<input type="text" class="form-control" placeholder="Username" name="username">
		    	<input type="password" class="form-control" placeholder="Password" name="password">
		  	</div>
		  	<button type="submit" class="btn btn-primary">Login</button>
		  	
		  	<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">
  				Register
			</button>
		</form>
	</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="color: Coral">New Account</h4>
      </div>
      <div class="modal-body">
      		<input type="text" class="form-control" placeholder="Username" id="new_username" required>
			<input type="password" class="form-control" placeholder="Password" id="new_password" required>
			<input type="password" class="form-control" placeholder="Confirm Password" id="new_passwordconfirm" required>
<!-- 			<input type="text" class="form-control" placeholder="Home" id="new_home" required>
			<input type="text" class="form-control" placeholder="Location" id="new_location" required>
			<input type="text" class="form-control" placeholder="Contact" id="new_contact" required>
			<input type="text" class="form-control" placeholder="Mail" id="new_mail" required>
			<input type="text" class="form-control" placeholder="Tel" id="new_tel" required> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning" id="register">Register</button>
      </div>
    </div>
  </div>
</div>

	<%- include script.html %>
</body>
</html>