<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>家庭成员</title>
	<%- include style.html %>
</head>
<body>
	<%- include nav.html %>
	<%- include memberLeftNav.html %>

	<div class="col-md-9">
		<div class="panel panel-success">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">成员信息</h3>
		  	</div>
			<div id="memberToolbar">
                <div class="btn-group" role="group" aria-label="...">
				  	<button type="button" class="btn btn-success" data-toggle="modal" data-target="#memberAddModel">
				  		添加新成员<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				  	</button>
				</div>
            </div>
		  	<table id="memberTable"></table>
		</div>

	</div>

                <div class="modal fade" id="memberAddModel" tabindex="-1" role="dialog" aria-hidden="true">
                   <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel" style="color: Coral">新增成员</h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" action="/member/memberAdd" method="POST">
                                    <div class="form-group">
                                        <label>成员名称</label>
                                        <input type="text" class="form-control" name="memberName" placeholder="成员名称" required>
                                    </div>
                                    <div class="form-group">
                                        <label>密码</label>
                                        <input type="password" class="form-control" name="memberPassword" placeholder="密码" required>
                                    </div>
                                    <div class="form-group">
                                        <label>密码确认</label>
                                        <input type="password" class="form-control" name="memberPasswordConfirm" placeholder="密码确认" required>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        <button type="submit" class="btn btn-warning">确定</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="memberEditModel" tabindex="-1" role="dialog" aria-hidden="true">
                   <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel" style="color: Coral">修改成员信息</h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" action="/member/memberEdit" method="POST">
                                    <div class="form-group">
                                        <label for="mymemberName">成员名称</label>
                                        <input id="mymemberName" type="text" class="form-control" name="mymemberName" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="oldmemberPassword">原密码</label>
                                        <input id="oldmemberPassword" type="password" class="form-control" name="oldmemberPassword" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="newmemberPassword">新密码</label>
                                        <input id="newmemberPassword" type="password" class="form-control" name="newmemberPassword" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="newmemberPasswordConfirm">新密码确认</label>
                                        <input id="newmemberPasswordConfirm" type="password" class="form-control" name="newmemberPasswordConfirm" required>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        <button type="submit" class="btn btn-warning">确定</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

	<%- include script.html %>
	<script>
		
		$(document).ready(function(){
			$("#member").addClass("active");
			$("#member_members").addClass("active");

			window.memberOperateEvents = {
				'click .memberEdit': function (e, value, row, index) {
                    $("#mymemberName").val(row.name);
	            },

	            'click .memberRemove': function (e, value, row, index) {

                    if (confirm('确认移除该成员吗？')){
                        $.post('/member/memberRemove',{
                            name: row.name
                            });
                        $('#memberTable').bootstrapTable('remove', {
                            field: 'name',
                            values: [row.name]
                        });
                    }
	            }
			};

	        $('#memberTable').bootstrapTable({
				method: "get",//请求方式
                url: "/member/membersList",//数据源
                striped: true,
                pagination: true,//是否分页
                pageSize: 5,//单页记录数
                pageList: [5, 10, 20, 50],//分页步进值
                queryParamsType: "limit",//查询参数组织方式
                queryParams: function getParams(params) {
                    //params obj
                    params.other = "otherInfo";
                    return params;
                },
                search: true,//是否搜索
                searchOnEnterKey: false,//回车搜索
                searchAlign: "right",//查询框对齐方式                
                showRefresh: true,//刷新按钮
                showColumns: true,//列选择按钮
                buttonsAlign: "right",//按钮对齐方式
                toolbar: "#memberToolbar",
                toolbarAlign: "left",
                columns: [
                    {
                        field: "name",//键名
                        title: "成员名称",//标题
                        sortable: true,//是否可排序
                        order: "asc"//默认排序方式
                    },
                    {
                        field: "authority",
                        title: "权限",
                        sortable: true,
                    },
                    {
                        field: "creator",
                        title: "创建者",
                        sortable: true,
                    },
                    {
                        field: "online",
                        title: "在线状态",
                        sortable: true,
                    },
                    {
                        field: "operate",
                        title: "操作",
                        align: "center",
                        events: memberOperateEvents,
                        formatter: memberOperateFormatter
                    }
                ],
            });

        	function memberOperateFormatter(value, row, index){
	            return [
    	            '<a class="memberEdit col-md-6" href="#" title="Edit" data-toggle="modal" data-target="#memberEditModel">',
    	            '<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>',
    	            '</a>',
    	            '<a class="memberRemove col-md-6" href="#" title="Remove">',
    	            '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>',
    	            '</a>'
	            ].join('');
        	};
		});

		$(document).unload(function(){
		});

	</script>
</body>
</html>