<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Users</title>
	<%- include style.html %>
</head>
<body>

<%- include nav.html %>

<ul class="nav nav-pills">
  	<li role="presentation"><a href="/home">Home</a></li>
  	<li role="presentation"><a href="/member">Member</a></li>
  	<li role="presentation"><a href="/gateway">Gateway</a></li>
</ul>

<table id="table"
       	data-toggle="table"
       	data-height="400"
        data-toolbar="#toolbar"
		data-sort-name="home"
		data-sort-order="asc"
		>
		<thead>
            <tr>
                <th data-field="home" data-sortable="true">Username</th>
                <th data-field="location" data-sortable="true">Password</th>
                <th data-field="owner" data-sortable="true">Home</th>
            </tr>
		</thead>
</table>

	<%- include script.html %>
	<script>
		
		$(document).ready(function(){

			$("#mymember").addClass("active");

			$.getJSON('/membersList', function(data){
				console.log(data);
				$("#table").bootstrapTable('load', data);
			});
			// $.get('/home/homesList');
			// var socket = io.connect();
			// socket.emit('get', 'homes');
			// socket.on('homes', (homes)=>{
			// 	console.log(homes);
			// 	// $("#table").bootstrapTable('load', JSON.parse(homes));
			// 	$("#table").bootstrapTable('load', homes);
			// });
			// socket.on('users', (users)=>{});
			// socket.on('gateways', (gateways)=>{});

		});

		$(document).unload(function(){
		});

	</script>
</body>
</html>