<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap-Table</title>
    <%- include style.html %>
</head>
<body>
    <div>
        <div>
            <div class="col-*-12">

                <div id="toolbar">
                    <div class="btn btn-primary" data-toggle="modal" data-target="#addModal">添加记录</div>
                </div>
                
                <table id="mytab" class="table table-hover"></table>

                <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
                   <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">添加记录</h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" action="javascript:void(0)">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" placeholder="请输入名称">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="age" placeholder="请输入年龄">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" id="addRecord">提交</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <%- include script.html %>
    <script type="text/javascript">
        $(function() {
            //根据窗口调整表格高度
            $(window).resize(function() {
                $('#mytab').bootstrapTable('resetView', {
                    height: tableHeight()
                })
            })

            $('#mytab').bootstrapTable({
                url: "/home/table_gateway_infos",//数据源
                striped: true,
                showExport: true,
                exportDataType: "basic",
                height: tableHeight(),//高度调整
                search: true,//是否搜索
                pagination: true,//是否分页
                pageSize: 20,//单页记录数
                pageList: [5, 10, 20, 50],//分页步进值
                // sidePagination: "server",//服务端分页
                // contentType: "application/x-www-form-urlencoded",//请求数据内容格式 默认是 application/json 自己根据格式自行服务端处理
                dataType: "json",//期待返回数据类型
                method: "get",//请求方式
                searchAlign: "left",//查询框对齐方式
                queryParamsType: "limit",//查询参数组织方式
                queryParams: function getParams(params) {
                    //params obj
                    params.other = "otherInfo";
                    return params;
                },
                searchOnEnterKey: false,//回车搜索
                showRefresh: true,//刷新按钮
                showColumns: true,//列选择按钮
                buttonsAlign: "left",//按钮对齐方式
                toolbar: "#toolbar",//指定工具栏
                toolbarAlign: "right",//工具栏对齐方式
                columns: [
                    {
                        title: "MAC",//标题
                        field: "MAC",//键名
                        sortable: true,//是否可排序
                        order: "desc"//默认排序方式
                    },
                    {
                        field: "IP",
                        title: "IP",
                        sortable: true,
                    },
                    {
                        field: "port",
                        title: "port",
                        sortable: true,
                    },
                    {
                        field: "state",
                        title: "state",
                        sortable: true,
                    },
                    {
                        field: "operate",
                        title: "operate",
                        align: "center",
                        events: operateEvents,
                        formatter: operateFormatter
                    }
                ],
                onClickRow: function(row, $element) {
                    //$element是当前tr的jquery对象
                    // $element.css("background-color", "green");
                    console.log("click row");

                }//单击row事件
            });

            $("#addRecord").click(function(){
                alert("MAC:" + $("#MAC").val() + " IP:" +$("#IP").val());
            });
        })

        function tableHeight() {
            return $(window).height() - 50;
        }
        /**
         * 列的格式化函数 在数据从服务端返回装载前进行处理
         * @param  {[type]} value [description]
         * @param  {[type]} row   [description]
         * @param  {[type]} index [description]
         * @return {[type]}       [description]
         */
        function infoFormatter(value, row, index)
        {
            return "MAC:" + row.MAC + " IP:" + row.IP + " port:" + row.port;
        }

        function operateFormatter(value, row, index){
            return [            
            '<a class="like" href="javascript:void(0)" title="Like">',
            '<i class="glyphicon glyphicon-heart"></i>',
            '</a>  ',
            '<a class="remove" href="javascript:void(0)" title="Remove">',
            '<i class="glyphicon glyphicon-remove"></i>',
            '</a>'
            ].join('');
        };

        window.operateEvents = {

            'click .like': function (e, value, row, index) {
            alert('You click like action, row: ' + JSON.stringify(row));
            },

            'click .remove': function (e, value, row, index) {
                $('#mytab').bootstrapTable('remove', {
                    field: 'MAC',
                    values: [row.MAC]
                });
            }
        };
    </script>
</body>
</html>