<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>智慧家庭</title>
	<%- include style.html %>
</head>
<body>
	<%- include nav.html %>
	<%- include homeLeftNav.html %>
	
	<div class="col-md-9">
		<div class="panel panel-info">
		  	<div class="panel-heading">		  		
       			<h3 class="panel-title"><span class="glyphicon glyphicon-asterisk" aria-hidden="true">智能温控</span></h3>
		  	</div>
                        <ul class="list-group">
                  			<li class="list-group-item">中央空调</li>
                            <li class="list-group-item">地暖系列</li>
                            <li class="list-group-item">除湿</li>
                            <li class="list-group-item">通风</li>
                        </ul>
		</div>
	</div>

	<%- include script.html %>
	<script>
		
		$(document).ready(function(){

			$("#home").addClass("active");
			$("#znwk").addClass("active");

		});

		$(document).unload(function(){
		});

	</script>
</body>
</html>